@import "node_modules/bulmaswatch/darkly/bulmaswatch";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.TextEditContainer {
  height: 400px;
  overflow: scroll;
  display: flex;
  align-items: center;
  // background-color: black;
  margin-bottom: 64px;
}

.TextEdit {
  color: $text;
  // text-align: center;
  margin: auto;
  // border: 2px solid $text;
  font-size: 3em;
}

.AudioEditContainer {
  text-align: center;
  height: 250px;
}

.BlankButton {
  border: none;
  background-color: transparent;
  color: $text;
}

.AddAudioBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  opacity: 0.8;
}

.AddAudioBtnLabel {
  font-size: 3em;
  margin-left: 16px;
}

.UploadAudioModalFileInput {
  display: flex;
}

.UploadAudioModalFileInputData {
  margin-left: 16px;
}

.Loadable {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AudioControls {
  margin-top: 16px;
}

#AudioEditWaveform * {
  -ms-overflow-style: none;
}

#AudioEditWaveform *::-webkit-scrollbar {
  display: none;
}
